@font-face {
    font-family: Edmund-Free;
    src: url(../fonts/Edmund-Free.ttf); }

@font-face {
    font-family: Candara;
    src: url(../fonts/Candara.ttf); }

body {

}

h1 {
    font-family: Edmund-Free;
}

p {
    font-family: Candara;
}

#indexLogo {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
    width: 100%;
}

.indexLogo {
    max-width: 50%;
    max-height: 50%;
}

#indexButtons {
    font-size: 25pt;
    display: flex;
    justify-content: space-evenly;
}

.indexButton:hover {
    background-image: url(../images/BlauwStreep.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

li {
    font-size: 38pt;
    display: inline;
    font-family: Edmund-Free;
}

li:hover {
    background-image: url(../images/BlauwStreep.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.NavBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top:70px;
}

.navLogo {
    align-self: start;
    transform: rotate(-5deg);
    margin-right: 60px;
    margin-left: 50px;
}

.navLogoLogo {
    height: 150px;
    transition: transform .2s;
}

.navLogoLogo:hover {
    transform: scale(1.1);
}

.navLi {
    align-self: end;
    margin-top: 20px;
}