@font-face {
    font-family: Edmund-Free;
    src: url(../fonts/Edmund-Free.ttf); }

@font-face {
    font-family: Candara;
    src: url(../fonts/Candara.ttf); }

body {
    overflow-x: hidden;
}

h1 {
    font-family: Edmund-Free;
}

p {
    font-family: Candara;
}

#indexLogo {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
    width: 100%;
}

.indexLogo {
    max-width: 50%;
    max-height: 50%;
}

#indexButtons {
    font-size: 25pt;
    display: flex;
    justify-content: space-evenly;
}

.indexButton:hover {
    background-image: url(../images/BlauwStreep.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

li {
    font-size: 38pt;
    display: inline;
    font-family: Edmund-Free;
}

li:hover {
    background-image: url(../images/BlauwStreep.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.NavBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top:70px;
}

.navLogo {
    align-self: start;
    transform: rotate(-5deg);
    margin-right: 60px;
    margin-left: 50px;
}

.navLogoLogo {
    height: 150px;
    transition: transform .2s;
}

.navLogoLogo:hover {
    transform: scale(1.1);
}

.navLi {
    align-self: end;
    margin-top: 20px;
}

.filters-group{
    display: flex;
}

.filterBtn {
    font-family: Edmund-Free;
    font-size: 20pt;
    margin-right: 10px;
}

.filterBtn:hover {
    background-image: url(../images/BlauwStreep.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#container {
    margin-left: 150px;
    margin-top: 100px;
}

.titel {
    font-size: 40pt;
    width: 100%;
    margin: 0;
}

.beschrijving {
    font-size: 20pt;
}

.filter-label {
    margin-top: 50px;
    font-family: Edmund-Free;
    font-size: 30pt;
}

.container {
    max-width: 100%;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.js-item {
    width: 20%;
    margin-right: 10px;
    border-color: #1b1e21;
}

.gridImg {
    height: 160px;
    width: 284px;
    transition: transform .2s;
}

.gridImg:hover {
    transform: scale(1.1);
}

figcaption {
    font-family: Edmund-Free;
    font-size: 20pt;
}

.js-item:hover > figcaption{
    background-image: url(../images/BlauwStreep.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transform: scale(1.01);
}

#container2 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-top: 100px;
}

#locatiediv {
    margin-top: 20px;
    width: 50%;
}

#datumDiv {
    width: 50%;
}

.h2class {
    font-family: Edmund-Free;
    font-size: 20pt;
    width: 100%;
    margin: 0;
}

.textdetailcursus {
    font-family: Candara;
    font-size: 20pt;
    width: 100%;
    margin: 0;
}

.chefImg {
    height: 20%;
}

#indexButtonss {
    margin-top: 30px;
    font-size: 25pt;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 30px;
}

.carouselimg {
    height: 300px;
}

.slick-slide img{
    height: 350px;
    width: 350px;
}

.slick-slide {
    margin:30px 15px;
}

.slider {
    width: 80%;
    margin: 0 auto;
}

.slick-prev::after {
    content: "<";
    font-family: Edmund-Free;
    /* adjust as necessary */
    color: #000;
    font-size: 50px;
    padding-right: 0.5em;
}

.slick-next::after {
    content: ">";
    font-family: Edmund-Free;
    /* adjust as necessary */
    color: #000;
    font-size: 50px;
    padding-right: 0.5em;
}


.slick-prev::after {
    background-image: url(../images/BlauwStreep.png);
    background-repeat: no-repeat;
}

.slick-next::after {
    background-image: url(../images/BlauwStreep.png);
    background-repeat: no-repeat;
}

.labelform {
    font-family: Edmund-Free;
    font-size: 25pt;
}

.formemail {
    width: 30%;
}
